body {
    margin: 50;
    padding: 10;
    background-image: ("IngridL.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center;
}
.image-container {
    position: relative;
    display: inline-block;
    color: black;
}
.overlay-text {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    color: white;
    font-family: 'MonteCarlo', cursive;
    font-size: 1em;
    text-align: rigth;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
h2{
    font-family: 'MonteCarlo', cursive;
    font-size: 3em;
    color: rgb(164, 151, 245);
    text-align:left;

}
.bio-box {
      width: 300px;
      height: 120px;
      padding: 10px;
      border: 2px solid #ccc;
      border-radius: 5px;
      font-family: Arial, sans-serif;
      resize: none; /* prevents resizing */
    }

    label {
      font-weight: bold;
    }
.second {
    font-family: 'MonteCarlo', cursive;
    font-size: 1em;
    color: rgb(4, 2, 19);
    text-align: left;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}