body {
    background-image: ("IngridL.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.dark-sides {
    position: relative;
    display: inline-block;
}
.dark-sides::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.5)10%, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)70%);
    pointer-events: none;
}
.image-container {
    position: relative;
    display: inline-block;
    color: black;
}
.overlay-text {
    position: absolute;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
    color: white;
    font-family: 'MonteCarlo', cursive;
    font-size: 1em;
    text-align: rigth;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}